.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
  }





.img-dark1{
  background-image: url('../Assets/dark-fondo1.jpeg'); 
}

.img-dark2{
  background-image: url('../Assets/dark-fondo2.jpeg'); 
}

.img-dark3{
  background-image: url('../Assets/dark-fondo3.jpeg'); 
}

.img-light1{
  background-image: url('../Assets/light-fondo1.jpeg'); 
}
